<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Finance App</title>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'finapp1/home.css' %}">
    </head>
    <body>
        <!-- Sidebar -->
        <div class="sidebar">
            <div>
                <img class="app-logo" src="{% static 'finapp1/Logo1.png' %}" alt="Logo">
            </div>
            <div class="logos">
                <a href="/Overview/">
                    <button class="icon-button">
                        <img src="{% static 'finapp1/dashboard-panel.png' %}" alt="Dashboard">
                    </button>
                </a>
                <a href="/Data_entry/">
                    <button class="icon-button">
                        <img src="{% static 'finapp1/form.png' %}" alt="Form">
                    </button>
                </a>
                <a href="/Database/">
                    <button class="icon-button">
                        <img src="{% static 'finapp1/database.png' %}" alt="Database">
                    </button>
                </a>
                <a href="/Expenses/">
                    <button class="icon-button">
                        <img src="{% static 'finapp1/expense.png' %}" alt="Expense">
                    </button>
                </a>
            </div>

<form action="{% url 'logout' %}" method="POST">
    {% csrf_token %}
    <div class="signout-btn-container">
        <button class="signout-btn" type="submit">
            <img src="{% static 'finapp1/sign-out-alt.png' %}" alt="Sign Out">
        </button>
    </div>
</form>
        </div>

        <!-- Main Content -->
        <div class="main-content">
            <h1>Welcome to the Finance Dashboard</h1>
            <p>This is where you'll find the overview of your finfdsd activity.</p>
        </div>
    </body>
</html>